<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Query AIRT DB Today Created Records In AIRT-->
    <add key="TodayRecordsInAIRT" value="select viad.RecId,viad.NameDesc,viad.CreatedDt,gl.Grp,sg.SubGrp,pl.Priority,gdl.Grade from [dbo].[Vw_Inv_App_Data] viad
left join [dbo].[GroupLookups] gl on viad.GrpId =  gl.GrpId and gl.IsDelete = 0
left join [dbo].[SubGroups] sg on viad.SubGrPId = sg.SubGrpId and sg.isDeleted = 0
left join [dbo].[PriorityLookups] pl on viad.PriId = pl.PriorityId  and pl.isDeleted = 0
left join [dbo].[GradeLookups] gdl on viad.GradeId = gdl.GradeId and gdl.isDeleted = 0
where viad.RecId is not null and viad.isDeleted = 0 and  CreatedDt = cast(getdate() as Date) order by viad.RecId"/>
    
    <!--Email Title for O records created in AIRT-->
  <add key="TodayRecordsInAIRT_Type_1" value="CSEO Accessbility Services - No New Records Identified in AIRT"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>